// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sidebar-navbar: white;
$font-color: rgba(30,30,30,0.7);
$spark-green: #32C94F;
$spark-green-opacity: rgba(50,201,79,0.05);
