// Specific CSS for your home-page
.product-name {
  font-weight: bold;
  margin: 4vh;
  text-align: center;
  font-size: 5vh;
  color: #32C94F;
  span {
    color: rgba(30, 30, 30, 0.7);
    font-weight: bold;
  }


}

.landing-page-icon {
  font-size: 10vh;
  text-align: center;
  background-color: rgba(50, 201, 79, 0.22);
  color: #32C94F;
  i {
    font-size: 12vh;
  }
}

.landing-page-card {
  width: 32vh;
  margin-bottom: 5vh;
  border: 2px solid rgba(50, 201, 79, 0.22);
  border-radius: 8px;
  margin-left: 5px;
}

.landing-page-text {
  padding-bottom: 20px;
  text-align: center;
  color: $font-color;
  h2 {
    font-weight: 550;
  };
  p {
    font-size: 20px;
    margin: 4px;
  }
}

.custom-container {
  width: 60vw;
  margin: 0 auto;
}

.footer {
  padding: 7vh 10vw;
  text-align: center;
  background-color: white;
  margin-bottom: 30px;
  h3 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(30, 30, 30, 0.7);
  };
  ul {
    li{
      font-size: 25px;
      margin: 0vh;
      color: rgba(30, 30, 30, 0.7);

    }
  }
}

.subheader {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: rgba(30, 30, 30, 0.7) !important;
}

#part2 {
  background-color: white !important;
}
#text-sub {
  background-color: rgba(50, 201, 79, 0.22) !important;
}

