.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: $sidebar-navbar;
}

.main-container {
  flex-grow: 1;
  overflow-y: scroll;
}

.page-wraper {
  display: flex;
  height: 100vh;
}

.container-graph {
  height: 30vh;
  position: sticky;
  background-color: blue;
}

.container-data {
  display: flex;
  background-color: #1D9CEB;
  height: 70vh;
}

.container-news {
  background-color: #1D9CEB;
  width: 70%;
}

.container-tweets {
  background-color: #E3E3E3;
  width: 100%;
}

.nav-tabs {
  justify-content: space-between;
}

.container-figures {
  background-color: yellow;
  width: 100%;
}

.container-info {
  background-color: green;
  width: 100%;
}

.container-future {
  background-color: #38CF57;
  width: 30%;
  min-width: 150px;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16 px;
}
