.sidebar {
  width: 250px;
  flex-shrink: 0;
  // background-color: $sidebar-navbar;
  background-color: $spark-green-opacity;
  overflow: scroll;
}

.main-container {
  flex-grow: 1;
  overflow-y: scroll;
}

.page-wraper {
  display: flex;
  height: 100vh;
  background-color: white;
}

.container-graph {
  height: 40vh;
  position: sticky;
  // background-color: blue;
}

.container-data {
  background-color: grey;
  height: 60vh;
}

.container-news {
  background-color: white;
  margin-top: 15px;
  //width: 70%;
}

.container-tweets {
  background-color: white;
  width: 100%;
}

.container-content {
  margin: 20px;
  h1 {
    font-size: 16px;
  }
}

.nav-link {
  color: $spark-green;
  &:hover {
    color: $spark-green;
    border-color: $spark-green;

  }
}

.container-figures {
  background-color: white;
  width: 100%;
}

.container-info {
  background-color: white;
  width: 100%;
  img {
    padding-bottom: 12px;
  }
}

// .container-future {
//   background-color: #F0F0F0;
//   width: 30%;
//   min-width: 150px;
// }

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16 px;
}
