<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary wtch"><svg class="bi bi-bookmark" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
</svg>Bookmarks</button>
  <button type="button" class="btn btn-secondary"></button>
</div>

<div id="accordion">
<ul class="list-group">
    <li class="list-group-item list-group-item-primary "data-toggle="collapse" href="#multicollapse-2" role="button" aria-expanded="false" aria-controls="multicollapse">
        <span id ="sub" >Gold Silver</span>
    </li>
    <div class="scrollbar scrollbar-primary collapse multi-collapse" id="multicollapse-2">
      <div class="force-overflow">
        <% @saved_tweets.each do |tweet| %>
          <li class="list-group-item">
            <%= tweet.tweet.author %>
            <%= link_to saved_tweet_path(tweet), method: :delete do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
</div>

<!-- <div id="accordion"> -->
<!-- <ul class="list-group mt-4">
    <li class="list-group-item list-group-item-primary">
      <svg class="bi bi-bookmark" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
      </svg>
        <span id ="sub" data-toggle="collapse" href="#multicollapse-22" role="button" aria-expanded="false" aria-controls="multicollapse-22">Bookmarks</span>
    </li>
    <div class="scrollbar scrollbar-primary collapse multi-collapse" id="multicollapse-22">
      <div class="force-overflow">
        <% @saved_tweets.each do |tweet| %>
          <li class="list-group-item">
            <%= tweet.tweet.author %>
            <%= link_to saved_tweet_path(tweet), method: :delete do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
</div> -->

<!-- <p>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multicollapse-22">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapse-2Example2">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div> -->
