<!-- <h1>Pages#home</h1>
<p>Here is goign the landing page with the search mask</p>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="home-banner">
  <%= render 'searchbar' %>
</div>

<h1 class="product-name">SparkNews</h1>

<div class="d-flex justify-content-between custom-container">
  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-money-bill-wave"></i>
    </div>
    <div class="landing-page-text">
      <h2>SparkNews</h2>
      <p>If u want to rent a <strong>cheap</strong> and <strong>cool</strong> bike</p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-fast-forward"></i>
    </div>
    <div class="landing-page-text">
      <h2>SparkNews</h2>
      <p>If you want to inform <strong>fast</strong> and <strong>easy</strong></p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-filter"></i>
    </div>
    <div class="landing-page-text">
      <h2>SparkNews</h2>
      <p>If you want to have a <strong>huge variety</strong></p>
    </div>
  </div>
</div>

<h2 class="subheader">How to use it</h2>

<div class="d-flex justify-content-between custom-container">
  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="landing-page-text">
      <h2>Search</h2>
      <p>Search for your <strong>favorite</strong> Stock</p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-mouse-pointer"></i>
    </div>
    <div class="landing-page-text">
      <h2>Read</h2>
      <p>Read a few Tweets <strong>easily</strong></p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-money-bill-wave"></i>
    </div>
    <div class="landing-page-text">
      <h2>Invest</h2>
      <p><strong>Invest!</strong></p>
    </div>
  </div>
</div>

<div class="footer">
  <h3>Contact us</h3>
  <ul class= "list-inline">
    <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
    <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
    <li class="list-inline-item"><i class="fas fa-envelope"></i></li>
    <li class="list-inline-item"><i class="fas fa-phone-square"></i></li>
  </ul>
</div>
