<!-- <h1>Pages#home</h1>
<p>Here is goign the landing page with the search mask</p>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="home-banner">
  <%= render 'searchbar' %>
</div>

<h1 class="product-name"><span>What is</span> SparkNews<span>?</span></h1>

<div class="d-flex justify-content-between custom-container">
  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-globe p-2 mb-3 mt-3 mr-2"></i>
    </div>
    <div class="landing-page-text mt-3">
      <h2>Merge</h2>
      <p> Merging the two worlds of <strong>finance</strong> and <strong>social media</strong></p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-chart-line p-2 mb-3 mt-3"></i>
    </div>
    <div class="landing-page-text mt-3">
      <h2>Track</h2>
      <p><strong>Hot</strong> or <strong>Not</strong> - Gain valuable information for your investment decisions</p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-money-bill p-2 mb-3 mt-3"></i>
    </div>
    <div class="landing-page-text mt-3">
      <h2>Invest</h2>
      <p>The Spark News <strong>knowledge advantage</strong> improves your investment decisions</p>
    </div>
  </div>
</div>

  <h2 class="subheader pb-6 pt-6">Easy to use, on the pulse of the stock market...</h2>

  <div class="d-flex justify-content-between custom-container">
    <div class= "landing-page-card">
      <div class= "landing-page-icon" id="part2">
        <i class="fas fa-search p-2 mb-3 mt-3"></i>
      </div>
      <div class="landing-page-text pt-3" id="text-sub">
        <h2>Search</h2>
        <p>Search for your <strong>favorite</strong> Stock</p>
      </div>
    </div>

    <div class= "landing-page-card">
      <div class= "landing-page-icon" id="part2">
        <i class="fas fa-mouse-pointer p-2 mb-3 mt-3"></i>
      </div>
      <div class="landing-page-text pt-3" id="text-sub">
        <h2>Read</h2>
        <p>Read a few Tweets <strong>easily</strong></p>
      </div>
    </div>

    <div class= "landing-page-card" >
      <div class= "landing-page-icon" id="part2">
        <i class="fas fa-money-bill-wave p-2 mb-3 mt-3"></i>
      </div>
      <div class="landing-page-text pt-3" id="text-sub">
        <h2>Invest</h2>
        <p>Use SkarkNews and<strong> Invest!</strong></p>
      </div>
    </div>
</div>
<div class="footer">
  <h3>Contact us</h3>
  <ul class= "list-inline">
    <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
    <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
    <li class="list-inline-item"><i class="fas fa-envelope"></i></li>
    <li class="list-inline-item"><i class="fas fa-phone-square"></i></li>
  </ul>
</div>
