.home-banner {

  background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), asset-url('banner3.jpg');
  background-size: cover;
  height: 78vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
  background-position: bottom;
}
