.list-group-item-primary {
background: white;
color: black;
font-size: 14px;
overflow-x: scroll;
display: flex;
justify-content: space-around;
align-items: center;


}
#sub {
  font-size: 20px;
  margin-left: 10px;
}
.bi-card-checklist {
  font-size: 24px;
  font-weight: bold !important;

}
.list-group-item {
  font-size: 12px;
  font-weight: bold !important;
  font-family: "Nunito", "Helvetica", "sans-serif" !important;

}
.scrollbar {
  //height: 200px;
  overflow-y: scroll;
}
// .list-group {
//   width: 220px;
// }
.btn-group {
  margin-top: 80px;
}
.bi-bookmark {
  margin-right: 20px;
}
