.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#custom-navbar {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.custom-list {
  list-style: none;
  padding: 8px 16px;
  a {
    color: rgba(30,30,30,0.7);
    font-weight:  normal;
    font-size: 3vh;
  }
}

#custom-navbar {
  // background-color: rgba(100,100,100,0.5);
  h1 {
    margin-bottom: 0.0rem;
    color: #32C94F;
    font-size: 32px;
    font-weight: bold;
    opacity: none;
    z-index: 5;
    &:hover{
    }
  }
  a {
    // background-color: white;
    text-decoration: none;
    border-radius: 0;
    margin: 5px;
    padding: 5px;
    color: white;
  }
}

.navbar-white {
  background: rgba(200,200,200,0) !important;
}
