.sidebar {
  height: 100%;
  font-family: "Nunito", "Helvetica", "sans-serif" !important;
  h1 {
    margin-bottom: 0.0rem;
    color: #32C94F;
    font-size: 32px;
    font-weight: bold;
  }
  a {
    color: $font-color;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
  }
  p {
    color: $font-color;
    margin: 0;
    padding: 10px;
    border-radius: rounded;
    font-size: 20px;
  }

  .btn-sidebar {
    padding: 10px;
    border-radius: rounded;
    font-size: 20px;
    text-align: center;

  }
  .footer-sidebar{
    color: $font-color;
    h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1px;
  };
  ul {
    li{
      font-size: 16px;
      margin: 0.5vh;
    }
  }
  }
}
.login {
  margin-bottom: 24px;
  font-size: 18px;
  color: black;
  text-align: center;
}
.footer-sidebar {
  padding-bottom: 10px;
  color: #32C94F!important;
}

.sidebar-searchbar-btn-flat {
  i {
    color:#32C94F;

  }
  i:hover {
    color: #32C94F;
  }
}
.sidebar-height {
    min-height: calc(100vh - 250px);
  }
.search {
  margin-bottom: 100px;
}

