.sidebar {
  height: 100%;
  h1 {
    margin-bottom: 0.0rem;
    color: orange;
    font-size: 24px;
  }
  a {
    color: $font-color;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
  }
  p {
    color: $font-color;
    margin: 0;
    padding: 10px;
    border-radius: rounded;
    font-size: 20px;
  }

  .btn-sidebar {
    padding: 10px;
    border-radius: rounded;
    font-size: 20px;
    text-align: center;

  }
  .footer-sidebar{
    color: $font-color;
    h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1px;
  };
  ul {
    li{
      font-size: 16px;
      margin: 0.5vh;
    }
  }
  }
}
.login {
  margin-bottom: 24px;
  font-size: 24px;
  color: black;
  text-align: center;
}
.footer-sidebar {
  padding-bottom: 10px;
}

.sidebar-searchbar-btn-flat {
  i {

  }
  i:hover {
    color: orange;
  }
}
